# Ignore compiled Python files
*.pyc

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore system files
__pycache__/
.DS_Store

# Ignore unimportant files within project-specific directories
djangoenv/
Student_Help/core/__pycache__/
student_help/__pycache__/
Student_Help/theme/__pycache__/

note.txt



# Ignore SQLite database file
db.sqlite3

# Ignore virtual environment directory
venv/

# Ignore all files in the core/migrations directory
core/migrations/*
