/* styles.css */

.container {
    display: flex;
  }
  
  .menu {
    flex: 1;
  }
  
  .content {
    flex: 4;
  }

  .home_container {
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }

